<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="{$_STATIC}/Common/jquery1.8.3.easys.js"></script>
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('.ceshi').click(function () {
                $.ajax({
                    type: "post",
                    cache: false,
                    url: "{$_WWW}/ceshi",
                    data: $("#ceshi").serialize(),
                    dataType: "text",
                    success: function (data) {
                        alert(data);
                    }
                });

            });

        });

    </script>

    <style type="text/css">
        body {
            background: #eee;
        }

        #ice1 {
            font-size: 13px;
        }

        .ice1 {
            font-size: 16px;
        }

    </style>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>无标题文档</title>
</head>
<body>

Layout::Content


</body>
</html>